* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-poppins: "Poppins", sans-serif;
  --color-primary: #ff5151;
  --color-grey: #415161;
  --color-white: #fff;
  --color-footer: #ffffffa1;
  --color-black: #000000;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-black);
}

body {
  /* background-color: #eaf0f7; */
  font-family: "Poppins", sans-serif;
  color: #415161;
  background-color: transparent;
  background-image: linear-gradient(
    140deg,
    #ffffff 0%,
    rgba(242, 245, 247, 0.87) 100%
  );
}

.flex {
  display: flex;
}
.container {
  max-width: min(85%, 1200px);
  margin: 0 auto;
}

img {
  width: 100%;
  /* height: 43px; */
}
li {
  list-style-type: none;
}

.logo-img {
  height: 43px;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: #fff;
}

.links {
  display: inline;
  color: #7a7d86;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  margin-top: 20px;
  font-size: 0.9rem;
  margin-left: 40px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

.links:active {
  color: red;
}

.links:hover {
  color: red;
}

/* this is the main home part */
.hero-section {
  height: 80vh;
  /* border: 1px solid red; */
}

.hero__img {
  /* border: 2px solid darkgoldenrod; */
  width: 55%;
  background-image: url(../img/hero-img.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.store__img {
  width: 55%;
  background-image: url(../img/store.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.store__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.1;
  margin: 27px 0;
}

.store__secd-title {
  font-size: 17px;
  font-weight: 600;
  position: relative;
  margin-top: 27px;
  letter-spacing: 0.2px;
}

.hero__content {
  /* border: 2px solid yellow; */
  width: 45%;
  flex-direction: column;
  justify-content: center;
}

.hero__secd-title {
  font-size: 17px;
  font-weight: 600;
  position: relative;
  margin-top: 27px;
  letter-spacing: 0.2px;
}
.hero__line {
  height: 3px;
  width: 10%;
  background-color: var(--color-primary);
}
.hero__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.1;
  margin: 27px 0;
}
.hero__desc {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 55px;
  line-height: 1.9;
}

/*------------------
 Designs section 
 ------------------*/

.designs {
  margin-top: 130px;
  justify-content: space-between;
}
.designs__cont {
  width: 31%;
}
.designs__cont {
  flex-direction: column-reverse;
  text-align: center;
}

.designs__title {
  font-size: 17px;
  font-weight: 600;
  margin: 18px 0 30px 0;
}

.designs__desc {
  font-size: 15px;
}

.designs__img {
  margin-bottom: 15px;
}

.account {
  background-color: white;
  margin: 20px 100px;
  padding: 90px 100px;
}

.account span {
  font-size: 30px;
  color: #415161;
  font-weight: bold;
  margin-bottom: 10px;
}

.account-container {
  gap: 2%;
  display: flex;
  align-items: center;
}

.account-container-login {
  width: 100%;
}

.account-container-register {
  width: 100%;
}

.form1 {
  border: 1px solid #d3ced2;
  width: 90%;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}

.form2 {
  width: 90%;
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}

.label {
  display: block;
  font-size: 13.5px;
  color: #415161;
  font-weight: 600;
  padding: 11.5px 0px;
}

.block {
  width: 100%;
  display: block;
  padding: 11.2px;
}

.btn {
  border-radius: 5px;
  padding-top: 13px;
  padding-right: 40px;
  padding-bottom: 13px;
  padding-left: 40px;
  color: #ffffff;
  border-color: #ff5151;
  background-color: #ff5151;
  font-size: 100%;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  margin-top: 10px;
}

/* -----------------
footer section 
-------------------- */

.footer {
  color: white;
  background-color: hsl(0, 0%, 19%);
}
.footer-container {
  justify-content: space-between;
  padding: 100px 0;
}
[class^="col"] {
  width: 21%;
  /* border: 1px solid yellow; */
}
.footer__logo {
  width: 62px;
  height: 57px;
  margin-bottom: 42px;
}

.social__media li {
  margin-right: 10px;
}
.social-media__links {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.social-media__links:hover {
  background-color: var(--color-primary);
}

.footer__title {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 18px;
}
.footer__desc {
  color: var(--color-footer);
  line-height: 1.9;
}

.footer__link {
  text-decoration: none;
  color: var(--color-footer);
  line-height: 1.9;
}
.footer__link:hover {
  color: var(--color-primary);
}
.horizontal-sperator {
  width: 100%;
  height: 1px;
  background-color: #41516186;
}
.footer-bottom {
  padding: 25px 0;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 300;
}

.flex {
  display: flex;
}

.error-msg {
  color: #ff3e3e;
  font-size: 0.9rem;
  display: block;
  margin-top: 0.5em;
  font-weight: 500;
}

/* store css */

.storelog {
  text-align: center;
  padding: 50px;
}

/*  add product css */

.add_product {
  gap: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  /* background-color: #fff; */
  border: 1px solid #d3ced2;
  width: 90%;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
  margin-left: 100px;
}
.add_product-form {
  width: 100%;
}

.upload_pic {
  width: 100%;
}
.file {
  height: 240px;
  width: 500px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #d3ced2;
}
